<p>Hello <%= @resource.name || 'there' %>,</p>

<p>You have been invited to set up your password for your account.</p>

<p>
  Click the link below to set your password:
  <br>
  <a href="<%= @reset_url %>"><%= @reset_url %></a>
</p>

<p>If you did not request this, you can safely ignore this email.</p>

<p>Thanks,<br>The Team</p>
