<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name || "there" %>!</h1>
    <p>
      Your visit PDF has been generated and is ready for you to view.
    </p>
    <p>Your PDF is attached to this email.</p>
    <p><strong>Password to open the PDF:</strong> <%= @password %></p>
    <% if @visit.dress %>
      <p>Visit details for: <%= @visit.dress.name %></p>
    <% end %>
    <p>Thank you for shopping with Danielle Frankel!</p>
  </body>
</html>